/* This makes the background for the body section a light grey color.*/
body{
    background-color: #bbbbbb;
}
/* This makes the background for a certain row and col class a light grey color.*/
.row-A .col-xs-1{
    background-color: #bbbbbb;
}
/* This makes the background for a column a light grey color.*/
.col-xs-10{
    background-color: #aaaaaa;
}

#intro-content{
    text-align: left;
}

#time-left{
    font-size: x-small;
    color: red;
}

#quiz-options{
    background-color: grey;
}

#question-card{
    display: none;
}

#conclusion-card{
    display: none;
}

#scores-card{
    display: none;
}

#time-left{
    padding: 100px;
}

#score{
    padding: 100px;
}