/* This makes the background for the body section a light grey color.*/

body{
    background-color: #bbbbbb;
}

/* This makes the background for a certain row and col class a light grey color.*/

.row-A .col-xs-1{
    background-color: #bbbbbb;
}

/* This makes the background for a column a light grey color.*/

.col-xs-10{
    background-color: #aaaaaa;
}

.instructions{
    text-align: left;
}